CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
out
.vs

Build

Binary/*
!Binary/*.json
!Binary/imgui.ini
!Binary/*.vert
!Binary/*.frag

Decrypt
Encrypt
Unpack
Repack

token.txt

*.hexproj